.book-summary {
    background: rgb(0, 0, 255) !important;
}
.book-summary ul.summary li a, .book-summary ul.summary li span {
    color: #0000ff !important;
}
.book-summary ul.summary li.active>a {
    color: #0000ff !important;
}
.markdown-section {
    color: rgba(0,0,0,255,0.8) !important;
}
.book-body {
    background: rgb(0, 0, 255) !important;
}
